.MuiTreeNode-node {
  background-color: unset !important;
}

.MuiNodeContent-row {
  background-color: unset !important;
  cursor: unset !important;
  padding: 0px !important;
}

.MuiNodeContent-rowLabel {
  padding: 6px !important;
}

.MuiNodeContent-contentNode:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.MuiNodeContent-rowIcon {
  cursor: grab;
}
.MuiNodeContent-rowLandingPad {
  opacity: 0.3 !important;
}

.add-project {
  display: flex;
  flex: 1;
  margin: -6px -6px;
}

.add-project > button {
  padding: 8px;
  margin-left: 0px !important;
  border-radius: 0px;
  flex: 1;
}

.add-project .MuiButton-label {
  margin-right: 26px;
}
